SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=False
USE_SQLITE=False
ALLOWED_HOSTS=yourusername.pythonanywhere.com

# MySQL — PythonAnywhere DB tab'dan oling
DB_NAME=yourusername$familyapp
DB_USER=yourusername
DB_PASSWORD=your_db_password
DB_HOST=yourusername.mysql.pythonanywhere-services.com
DB_PORT=3306

# Email (Gmail App Password)
EMAIL_HOST_USER=your_gmail@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
